{% extends 'main/base.html' %}

{% block content %}
<div class="container darken-3">
    <div class="row">
        <h1 class="center-align">Create an article</h1>
        <div class="divider"></div>
        <div class="row"></div>
        {% if success %}
            <p class="row">Form submitted successfully.</p>
        {% endif %}
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="input-field col s12 m6 offset-m3">
                    <input class="" type="text" name="title" required>
                    <label>Title</label>
                </div>
                <div class="input-field col s12">
                    <textarea name="content" rows="50" cols="4" required></textarea>
                    <label>Article Content</label>
                </div>
                <div class="input-field col s12">
                    <select name="author">
                        {% for author in authors %}
                        <option value="{{ author.id }}">{{ author.name }}</option>
                        {% endfor %}
                    </select>
                    <label>Select author</label>
                </div>
                <div class="col s12">
                    <button class="btn blue-grey darken-3" type="submit">Submit</button>
                    <button class="btn blue-grey darken-3" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });

</script>
{% endblock %}