{% extends 'main/base.html' %}

{% block content %}

<div class="container blue-grey white-text darken-3">
    <h3 class="center-align">Articles</h3>
    <div class="divider"></div>
    <div class="row">
        <ul class="collection center-align">
            {% for article in latest_articles %}
            <li class="collection-item blue-grey darken-2">
                <a class="white-text" href="{% url 'get_article' article.pk %}">{{ article }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}